.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  font-size: 20px;
  text-align: start;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
